INPUT_FILE = "{{day_str}}/input.txt"

def read_input_file():
    with open(INPUT_FILE) as f:
        for line in f.read().splitlines():
            pass


def part_one():
    """https://adventofcode.com/{{year}}/day/{{day}}"""
    pass


def part_two():
    """https://adventofcode.com/{{year}}/day/{{day}}#part2"""
    pass


if __name__ == "__main__":
    print(part_one())
    print(part_two())