INPUT_FILE = "{{day_str}}/input.txt"


def part_one():
    """https://adventofcode.com/{{year}}/day/{{day}}"""
    pass


def part_two():
    """https://adventofcode.com/{{year}}/day/{{day}}#part2"""
    pass


if __name__ == "__main__":
    print(part_one())
    print(part_two())